@model List<ContatoModel>

@if(Model != null && Model.Count > 0)
{
    <table class="table secondary" id="table-contatos-usuarios">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">E-mail</th>
                <th scope="col">Telefone</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (ContatoModel contato in Model)
                {
                    <tr>
                        <th scope="row">@contato.Id</th>
                        <td scope="row">@contato.Nome</td>
                        <td scope="row">@contato.Email</td>
                        <td scope="row">@contato.Celular</td>

                    </tr>
                }
            }
            else
            {
                <tr class="odd"> <td valign="top" colspan="4" scope="row">Nenhum Contato encontrado</td></tr>
            }
        </tbody>
    </table>
}
else
{
	<div class="alert alert-info" role="alert">
		Nenhum contato cadastrado
	</div>
}