@{
    ViewData["Title"] = "Pagina Inicial";
}

<div class="text-center text-lg">
    <h1 class="display-4" style="margin-top: 15%;">Bem Vindo!</h1>
    <p>Sistema de Controle de Contatos </p>
</div>
